<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace = "~{header :: html_header}">

<body>

    <header th:replace="header :: my-header"></header>

    <div th:replace="index :: my-cart"></div>



    <section class="breadcrum" >
    
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb container">
              <li class="breadcrumb-item"><a href="./index.html">Trang chủ</a></li>
              <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
            </ol>
          </nav>
    </section>
<main role="main">
    <div class="container">
        <div class="row blog-infor">
            <div class="col-lg-8">
                <h3>Tin Tức</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="post-item-1">
                            <img src="./image/new1.jpg" alt="">
                            <div class="b-post-details">
                                <div class="bp-meta">
                                    <a href="#"><i class="fal fa-clock"></i> 24, 04, 2022</a>
                                    <a href="#"><i class="fal fa-comments"></i>32 Comments</a>
                                </div>
                                <h3><a href="single-post.html">[LIVESTREAM] TẬP 4 | CHƯƠNG TRÌNH TRUYỀN HÌNH THỰC TẾ TÌM KIẾM TÀI NĂNG KOC VIETNAM 2022 </a></h3>
                                <a class="read-more" href="https://www.lazada.vn/#">Đọc thêm<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-item-1">
                            <img src="./image/new2.jpg" alt="">
                            <div class="b-post-details">
                                <div class="bp-meta">
                                    <a href="#"><i class="fal fa-clock"></i>24, 04, 2022</a>
                                    <a href="#"><i class="fal fa-comments"></i>26 Comments</a>
                                </div>
                                <h3><a href="single-post.html">CHỈ CÒN 2 NGÀY ĐỂ ĐẶT CỌC - MUA 1 TẶNG 1 FULL-SIZE ĐẾN 25.4</a></h3>
                                <a class="read-more" href="https://www.lazada.vn/#">Đọc thêm<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-item-1">
                            <img src="./image/new3.jpg" alt="">
                            <div class="b-post-details">
                                <div class="bp-meta">
                                    <a href="#"><i class="fal fa-clock"></i>22, 04, 2022</a>
                                    <a href="#"><i class="fal fa-comments"></i>62 Comments</a>
                                </div>
                                <h3><a href="single-post.html"> MỪNG LỄ LỚN - SÁCH SALE TOOOO</a></h3>
                                <a class="read-more" href="https://tiki.vn/?utm_source=google&utm_medium=cpc&utm_campaign=SEA_NBR_GGL_TXT_SBR_ALL_VN_ALL_UNK_UNK_C.ALL_X.7602151122_Y.80058006606_Q.e_K.Tiki_W.DT_R.392788512410_T.kwd-10246492_L.HP_O.CAC&gclid=Cj0KCQjw6pOTBhCTARIsAHF23fKUJ8Sag_wXm-aLyyD3_O8OmbXvDEOWPUxeZ1aInKaVvVuSbNi90kIaAiUlEALw_wcB">Đọc thêm<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-item-1">
                            <img src="./image/new4.jpg" alt="">
                            <div class="b-post-details">
                                <div class="bp-meta">
                                    <a href="#"><i class="fal fa-clock"></i>12, 04, 2022</a>
                                    <a href="#"><i class="fal fa-comments"></i>15 Comments</a>
                                </div>
                                <h3><a href="single-post.html">HOT DEAL: THÙNG 48 HỘP SỮA NESTLÉ MILO GIẢM MẠNH CHỈ CÒN 319K</a></h3>
                                <a class="read-more" href="https://ti.ki/4anL62Ob/FANPAGE042022 ">Đọc thêm<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-item-1">
                            <img src="./image/new5.jpg" alt="">
                            <div class="b-post-details">
                                <div class="bp-meta">
                                    <a href="#"><i class="fal fa-clock"></i>24, 03, 2022</a>
                                    <a href="#"><i class="fal fa-comments"></i>12 Comments</a>
                                </div>
                                <h3><a href="single-post.html">Bạn đang cần mua sắm để ăn - chơi lễ này
                                    Ghé ngay Chợ Phiên cuối tuần, với đầy đủ những sự lựa chọn cho muôn kiểu mừng lễ</a></h3>
                                <a class="read-more" href="https://tiki.vn/?utm_source=google&utm_medium=cpc&utm_campaign=SEA_NBR_GGL_TXT_SBR_ALL_VN_ALL_UNK_UNK_C.ALL_X.7602151122_Y.80058006606_Q.e_K.Tiki_W.DT_R.392788512410_T.kwd-10246492_L.HP_O.CAC&gclid=Cj0KCQjw6pOTBhCTARIsAHF23fKUJ8Sag_wXm-aLyyD3_O8OmbXvDEOWPUxeZ1aInKaVvVuSbNi90kIaAiUlEALw_wcB">Đọc thêm<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-item-1">
                            <img src="./image/new6.jpg" alt="">
                            <div class="b-post-details">
                                <div class="bp-meta">
                                    <a href="#"><i class="fal fa-clock"></i>01, 04, 2022</a>
                                    <a href="#"><i class="fal fa-comments"></i>6 Comments</a>
                                </div>
                                <h3><a href="single-post.html">Áo mưa cánh rơi, áo mưa 1 người vải dù siêu nhẹ cỡ đại chống thấm F89 001</a></h3>
                                <a class="read-more" href="https://www.lazada.vn/products/ao-mua-canh-roi-ao-mua-1-nguoi-vai-du-sieu-nhe-co-dai-chong-tham-f89-001-i923020606-s2744972192.html?spm=a2o4n.home.just4u.23.1905e182m2byBn&&scm=1007.17519.162103.0&pvid=9e69b37f-9e01-4e5f-b5fe-1f78fd694a9b&search=0&clickTrackInfo=tctags%3A279502274+1977756065%3Btcsceneid%3AHPJFY%3Bbuyernid%3Ad2142e5c-1253-47c4-cedb-ed22dcde95f5%3Btcboost%3A0%3Bpvid%3A9e69b37f-9e01-4e5f-b5fe-1f78fd694a9b%3Bchannel_id%3A0000%3Bmt%3Ahot%3Bitem_id%3A923020606%3Bself_ab_id%3A162103%3Bself_app_id%3A7519%3Blayer_buckets%3A5437.25236_955.3630_955.7330_6059.28889%3Bpos%3A22%3B">Đọc thêm<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-item-1">
                            <img src="./image/new7.png" alt="">
                            <div class="b-post-details">
                                <div class="bp-meta">
                                    <a href="#"><i class="fal fa-clock"></i>19, 04, 2022</a>
                                    <a href="#"><i class="fal fa-comments"></i>10 Comments</a>
                                </div>
                                <h3><a href="single-post.html">Máy hàn Điện tử Mini inverter MARKWELD LUX228 ( Hàn que 3.2 ly )</a></h3>
                                <a class="read-more" href="https://tiki.vn/may-han-dien-tu-mini-inverter-markweld-lux228-han-que-3-2-ly-p98599457.html?itm_campaign=HMP_YPD_TKA_PLA_UNK_ALL_UNK_UNK_UNK_UNK_X.136075_Y.1379203_Z.2372379_CN.Product-Ads-20%252F04%252F2022&itm_medium=CPC&itm_source=tiki-ads&spid=98599473">Đọc thêm<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                  
                  
                    <div class="col-lg-6">
                        <div class="post-item-1">
                            <img src="./image/new8.jpg" alt="">
                            <div class="b-post-details">
                                <div class="bp-meta">
                                    <a href="#"><i class="fal fa-clock"></i>06, 06, 2021</a>
                                    <a href="#"><i class="fal fa-comments"></i>6 Comments</a>
                                </div>
                                <h3><a href="single-post.html">"Bùng cháy deal hè".</a></h3>
                                <a class="read-more" href="https://pages.lazada.vn/wow/gcp/route/lazada/vn/upr_1000345_lazada/channel/vn/upr-router/vn?spm=a2o4n.home.top.dbr1.1b63e182B51vEO&hybrid=1&data_prefetch=true&at_iframe=1&wh_pid=/lazada/channel/vn/thoi-trang/ngay-hoi-thoi-trang&scm=1003.4.icms-zebra-5000379-2587043.OTHER_6052723374_7601646&prefetch_replace=1">Đọc thêm<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="bisylms-pagination">
                            <span class="current">01</span>
                            <a href="#">02</a>
                            <a class="next" href="#">next<i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-sidebar">
                    <aside class="widget widget-search">
                        <form class="search-form" action="#" method="post">
                            <input oninput=" searchData()" type="search" name="s" id="searchInfor" placeholder="Search...">
                            <button type="submit"><i class="fal fa-search"></i></button>
                        </form>
                    </aside>
                    <aside class="widget widget-categories">
                        <h3 class="widget-title">Tin tức</h3>
                        <ul>
                            <li><a href="#">MINIGAME KHOE ĐƠN MÊ LI - TIKI TẶNG BẠN 10 TRIỆU XU </a></li>
                            <li><a href="#">BỘ SƯU TẬP ÁO SƠ MI HỌA TIẾT HÈ CHO CHÀNG BẢNH BAO </a></li>
                            <li><a href="#">HOT DEAL: THÙNG 48 HỘP SỮA NESTLÉ MILO GIẢM MẠNH CHỈ CÒN 319K</a></li>
                            <li><a href="#">CHỈ 119K CHỐT NGAY CƠM SẦU RIÊNG CẤP ĐÔNG 400G SIÊU THƠM NGON</a></li>
                            <li><a href="#">Cuối tháng đón lương về, lẹ làng chốt sale to! </a></li>
                            <li><a href="#">ĐẠI CHIẾN THÁNH CHỐT ĐƠN - TRÀN NGẬP ƯU ĐÃI</a></li>
                            <li><a href="#">ĐÊM NHẠC TRỊNH CÙNG NHỮNG NĂM THÁNG MỘNG MƠ</a></li>
                        </ul>
                    </aside>
                      <aside class="widget widget-trend-post">
                        <h3 class="widget-title">Bài đăng phổ biến</h3>
                        <div class="popular-post">
                            <a href="single-post.html"><img src="./image/new1.jpg" alt=""></a>
                            <h5><a href="single-post.html">LA-ZA-ĐA VÀ NHỮNG BIẾN TẤU NƠI CỬA MIỆNG CỦA CÁC “BÁ CHỦ CHỐT ĐƠN”​</a></h5>
                            <span>April 19, 2022</span>
                        </div>
                        <div class="popular-post">
                            <a href="single-post.html"><img src="./image/new2.jpg" alt=""></a>
                            <h5><a href="single-post.html">10 ĐƠN ĐẶT CỌC MAY MẮN NHẬN THÊM QUÀ 500K</a></h5>
                            <span>March 14, 2022</span>
                        </div>
                        <div class="popular-post">
                            <a href="single-post.html"><img src="./image/new4.jpg" alt=""></a>
                            <h5><a href="single-post.html"> [MINIGAME] CHƠI GAME NHỎ - NHẬN QUÀ SIÊU TO</a></h5>
                            <span>April 12, 2022</span>
                        </div>
                        <div class="popular-post">
                            <a href="single-post.html"><img src="./image/new7.png" alt=""></a>
                            <h5><a href="single-post.html">MỞ THẺ TÍN DỤNG SCB - TIỆN HẾT CHỖ CHÊ</a></h5>
                            <span>March 4, 2022</span>
                        </div>
                    </aside>
                    <aside class="widget">
                         <h3 class="widget-title">Thẻ tìm kiếm</h3>
                         <div class="tags">
                            <a href="#">Điện tử</a>
                            <a href="#">Sức khỏe</a>
                            <a href="#">Chăm sóc da</a>
                            <a href="#">Thiết bị số</a>
                            <a href="#">Nhà Cửa</a>
                            <a href="#">Bách Hóa</a>
                            <a href="#">Thời trang nữ</a>
                            <a href="#">Nước Hoa</a>
                            <a href="#">Gia Đình</a>
                            <a href="#">Thời trang nam</a>
                         </div>
                    </aside>
                    </div>  
            </div>
        </div>
    </div>
</main>
    <footer th:replace = "~{footer :: html_footer}"> </footer>
    </body>

    <th:block th:insert="~{header :: script}"></th:block>
</html>