<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{header :: html_header}">

<body>
    <header th:replace="header :: my-header"></header>



<section class="breadcrum" >
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb container">
          <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Đặt hàng thành công</li>
        </ol>
      </nav>
</section>

<div role="main">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center notify-order pt-50 pb-50">
                <i class="far fa-check-circle"></i>
                <p class="success-order">ĐẶT HÀNG THÀNH CÔNG</p>
                <p style="font-size: 19px;">Buy Smart sẽ giao đơn hàng đến bạn trong thời gian sớm nhất.
                    <br>

                    Vui lòng xem lại thông tin đơn hàng ở tại Lịch sử mua hàng.
                   </p>
              </div>
        </div>
    </div>
  
</div>


  <div class="amm-shopping-cart-wrapper">
    <div class="amm-shopping-cart-canvas" id="amm-shopping-cart-canvas">
        <div class="amm-shopping_cart">
            <div class="amm-shopping_cart-top-bar d-flex justify-content-between">
                <h6>Giỏ hàng</h6>
                <button onclick="removeShoppingCart()" class="amm-shopping-cart-close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="amm-shopping_cart-list-items mt-30" id="showCart">
                <ul>
                    
                </ul>
            </div>
            <div class="amm-shopping_cart-btn">
                <div class="total pt-35 d-flex justify-content-between">
                    <h5>Tổng tiền:</h5>
                    <p><span>0 <sup>đ</sup></span></p>
                    
                </div>
                <div class="cart-btn pt-25">
                    <a class="main-btn" onclick="viewCarts()" href="./ViewCart.html">Xem giỏ hàng</a>
                    <a class="main-btn main-btn-2" href="./payment.html">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
    <div onclick="openOverlay()" class="overlay" id="overlay"></div>
</div>


    <footer th:replace = "~{footer :: html_footer}"> </footer>
</body>

<th:block th:insert="~{header :: script}"></th:block>

</html>